---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slugify }}/
layout: page
eleventyComputed:
  title: "{{ tag }}"
  description: "Content tagged: {{ tag }}"
---

{% set allContent = [] %}
{% for post in collections.posts | filterByTag(tag) %}
  {% set allContent = (allContent.push(post), allContent) %}
{% endfor %}
{% for post in collections["articles"] | filterByTag(tag) %}
  {% set allContent = (allContent.push(post), allContent) %}
{% endfor %}
{% for post in collections["case-studies"] | filterByTag(tag) %}
  {% set allContent = (allContent.push(post), allContent) %}
{% endfor %}

<div class="tag-page">
  <p class="tag-intro">
    {{ allContent.length }} item{% if allContent.length > 1 %}s{% endif %}
  </p>

  {% if allContent.length > 0 %}
    <ul class="post-list">
      {% for post in allContent %}
        {% include "components/post-card.njk" %}
      {% endfor %}
    </ul>
  {% else %}
    <p class="no-posts">No content with this tag yet.</p>
  {% endif %}

  <p class="back-link">
    <a href="/tags/">All tags</a>
  </p>
</div>
