{% if relatedPosts and relatedPosts.length %}
<aside class="related-posts">
  <h2 class="related-posts-title">{{ t.post.related }}</h2>
  <ul class="related-posts-list">
    {% for post in relatedPosts %}
    <li class="related-post-item">
      <a href="{{ post.url }}">
        <span class="related-post-title">{{ post.data.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
